{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2>Importer des Moyennes</h2>
	
	<p>Cette opération peut prendre quelques minutes, veuillez patienter...</p>
	
	<form action="importerMoyenne" method="POST">
		{% csrf_token %}
		<label>Semestre : </label>
		<select name="idSemestreAnnualise" required>
		{% for semestre in semestresAnnualises %}
			<option value='{{semestre.id}}'>{{semestre}}</option>
		{% endfor %}
		</select><br>
		<br>
		<label>Fichier CSV : </label><input type="file" accept=".csv" name="fichier" required><br><br>
		
		<p><strong>Il est impératif de faire passer à l'état réorienté tous les étudiants qui ont quitté la formation et ne souhaitent pas aller au semestre suivant avant d'importer les moyennes. Un oubli de changement d'état pourrait causer des plantages futures de l'application.</strong></p>
		
		<input type="submit" value="Importer">
		<input type="reset" value="Annuler">
		<input type="button" value="Retour" onClick="history.go(-1);return true;">
		<p><strong>ATTENTION ! Lorsque vous cliquerez sur "importer" il est possible que le chargement de la page puisse prendre quelques minutes. Ne paniquez pas, et attendez patiemment la fin du chargement. Evitez de fermer votre navigateur durant le chargement ou de cliquer plusieurs fois sur "importer".</strong></p>
	</form>
{% endblock %}
