{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'logo.png' %}"/>
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
	
	<title>{% block title %}AGEIL{% endblock %}</title>
</head>
<body>
	<nav>
		{% block nav %}
		<!-- Menu -->
		<ul id="menu-deroulant">
			<li><a href="/accueil">Accueil</a></li>
            <li><a href="/gestionEtudiant/listeEtudiant">Gestion des étudiants</a>
                <!-- On affecte le sous menu lorsque l'url contient "/gestionEtudiant/" -->
			{% if "/gestionEtudiant/" in request.path %}
				</li>
				<div id="sousmenu" class="sm">
                    <li class="sousmenu"><a href="/gestionEtudiant/listeEtudiant">Liste des étudiants</a></li>
                    <li class="sousmenu"><a href="/gestionEtudiant/paramImportEtudiant">Importer les étudiants d'un semestre</a></li>
                    <li class="sousmenu"><a href="/gestionEtudiant/ajouterEtudiantInfoGestion">Ajouter un étudiant manuellement</a></li>
                    <li class="sousmenu"><a href="/gestionEtudiant/paramImportMoyenne">Importer les moyennes d'un semestre</a></li>
               </div>
			
			{% else %}
			
                    <ul>
                        <li><a href="/gestionEtudiant/listeEtudiant">Liste des étudiants</a></li>
                        <li><a href="/gestionEtudiant/paramImportEtudiant">Importer les étudiants d'un semestre</a></li>
                        <li><a href="/gestionEtudiant/ajouterEtudiantInfoGestion">Ajouter un étudiant manuellement</a></li>
                        <li><a href="/gestionEtudiant/paramImportMoyenne">Importer les moyennes d'un semestre</a></li>
                    </ul>
                </li>
			
			{% endif %}	
        
            <li><a href="/gestionEnseignement/">Gestion des modèles</a>
			{% if "/gestionEnseignement/" in request.path %}
            </li>
            <div id="sousmenu_gestion" class="sm">
                <li id="modele"><a href="/gestionEnseignement/formation">Modèles de formation</a></li>
                <li id="modele"><a href="/gestionEnseignement/cursus">Modèles de cursus</a></li>
                <li id="modele"><a href="/gestionEnseignement/BAC">Modèles de BAC</a></li>
            </div><!-- fin div sousmenu -->	

            {% else %}
				<ul>
					<li><a href="/gestionEnseignement/formation">Modèles de formation</a></li>
					<li><a href="/gestionEnseignement/cursus">Modèles de cursus</a></li>
					<li><a href="/gestionEnseignement/BAC">Modèles de BAC</a></li>
				</ul>	
        
			</li>
			{% endif %}
			
			</li>
			<li><a href="#">Générer un document</a>
            {% if "/gestionJury/" in request.path and request.get_full_path != "/gestionJury/choixSemestreAReporter" %}
                </li>
                <div id="sousmenu_doc" class="sm">
                    <li><a href="/gestionJury/preJury">Générer le document pré-jury</a></li>
					<li><a href="/gestionJury/jury">Générer le document jury</a></li>
					<li><a href="/gestionJury/PV">Générer le PV</a></li>
				</div><!-- fin div sousmenu -->	
			
            {% else %}
				<ul>
					<li><a href="/gestionJury/preJury">Générer le document pré-jury</a></li>
					<li><a href="/gestionJury/jury">Générer le document jury</a></li>
					<li><a href="/gestionJury/PV">Générer le PV</a></li>
				</ul>
			</li>
            {% endif %}
			<li><a href="/gestionJury/choixSemestreAReporter">Reporter les résultats jury</a></li>
			<li><a href="/gestionStatistique/calculerStatistiquesDePromoN">Afficher des statistiques</a></li>
		</ul>
		{% endblock %}
	</nav>
	<div id="espacement"></div>
	<section id="contentBG">
		<section id="contentText">
		
		{% block content %}{% endblock %}
		
		</section>
	</section>
	<a href="#" class="scroll" ><img id="img_scrollup" src="../../../static/arrowUp.png" alt="Scroll up"></a>
<footer>&copy; IUT du Limousin, département Informatique groupe G5</footer>
</body>
</html>
